.relative {
  perspective: 1000px;
}
.relative .inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px; /* Add border-radius */
}
.relative.flipped .inner {
  transform: rotateY(180deg);
}
.backface-hidden {
  backface-visibility: hidden;
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px; /* Add border-radius */
}
.front {
  background-color: gray;
}
.back {
  background-color: gray;
  transform: rotateY(180deg);
}
